.jokes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.joke {
  width: 20%;
  background-color: black;
  padding: 1rem;
  margin: 2rem;
  color: white;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 5rem;
  margin: 5rem auto;
  background-color: chocolate;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}

form button {
  padding: 1rem;
  outline: none;
  border: none;
  color: white;
  background-color: blueviolet;
}

form button:hover {
  color: blueviolet;
  background-color: white;
  cursor: pointer;
}

form p {
  display: flex;
}

form p a {
  color: white;
}
